<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="/"><h6>Menú principal</h6></a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-3" type="text" placeholder="Buscar reserva por UUID">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                </form>
            </div>
        </nav>
        <center><h2>Hoteles</h2></center>
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-3">
                    <div class="card">
                        <img src="{{ url_for('static',filename='hotel1.jpg') }}" class="card-img-top"/>
                        <div class="card-body">
                            <h3 class="card-title text-left">Hotel Intercontinental</h3>
                            <p class="card-text">
                                Vive una experiencia sin igual, con piscina, jacuzzi abiertos las 24 horas, tenemos SPA y todo tipo de actividades!
                            </p>
                            <a href="./reserva1" class="btn btn-primary">Reservar</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-3">
                    <div class="card">
                        <img src="{{ url_for('static',filename='hotel2.jpg') }}" class="card-img-top"/>
                        <div class="card-body">
                            <h3 class="card-title text-left">Hotel Ibis</h3>
                            <p class="card-text">
                                Actualmente, este hotel cuenta con la piscina y fuentes más grandes de la ciudad!
                            </p>
                            <a href="./reserva2" class="btn btn-primary">Reservar</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-3">
                    <div class="card">
                        <img src="{{ url_for('static',filename='hotel3.jpg') }}" class="card-img-top"/>
                        <div class="card-body">
                            <h3 class="card-title text-left">Hotel Airto</h3>
                            <p class="card-text">
                                La gran vista te sorprenderá! No hay nada mejor que tener un buen descanso con una buena vista!
                            </p>
                            <a href="./reserva3" class="btn btn-primary">Reservar</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-3">
                    <div class="card">
                        <img src="{{ url_for('static',filename='hotel4.jpg') }}" class="card-img-top"/>
                        <div class="card-body">
                            <h3 class="card-title text-left">Hotel Sant</h3>
                            <p class="card-text">
                                Todo lo que necesitas y lo que quieres en un solo hotel, disfruta de estas vacaciones con el hermoso clima y playa!
                            </p>
                            <a href="./reserva4" class="btn btn-primary">Reservar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>